Repository retaildevcrews/loderunner, pull requests merged in 2021-11, with the labels that each got.

#72 Introduced appsettings and profiles for Dev and Production environments
  src/AppSettings/appsettings.Development.json
  src/AppSettings/appsettings.Production.json
  src/LodeRunner.API/Dockerfile
  src/LodeRunner.API/LodeRunner.API.csproj
  src/LodeRunner.API/Properties/launchSettings.json
  src/LodeRunner.API/README.md
  src/LodeRunner.API/appsettings.json
  src/LodeRunner.API/src/Core/Startup.cs
  src/LodeRunner.API/src/Core/SystemConstants.cs
  src/LodeRunner.API/src/Program.cs
  src/LodeRunner.Core/AppConfigurationHelper.cs
  src/LodeRunner.Core/LodeRunner.Core.csproj
  src/LodeRunner.Core/SystemConstants.cs
  src/LodeRunner/Dockerfile
  src/LodeRunner/LodeRunner.csproj
  src/LodeRunner/Properties/launchSettings.json
  src/LodeRunner/README.md
  src/LodeRunner/appsettings.Development.json
  src/LodeRunner/src/Program.cs
Labels: DevX, size: S, LoadGen, LodeRunner

#73 Unit tests for LodeRunner.API - ValidationError
  src/LodeRunner.API.Test/LodeRunner.API.Test.csproj
  src/LodeRunner.API.Test/UnitTests/ValidateError.cs
  src/LodeRunner.API/Dockerfile
  src/LodeRunner.API/src/Core/SystemConstants.cs
  src/LodeRunner.API/src/Utilities/Parameters/ValidationError.cs
  src/LodeRunner.Test.sln
Labels: TechnicalDebt, size: S, LoadGen, LodeRunner

#74 Added Integration testing Steps to LodeRunner.API workflow
  .github/workflows/loderunner-api.yaml
Labels: TechnicalDebt, size: S, LoadGen, LodeRunner

#75 Setup Local DevCluster
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/on-create.sh
  .gitignore
  Makefile
  README.md
  deploy/dashboards/ngsa-dev-model.json
  deploy/fluentbit/README.md
  deploy/fluentbit/account.yaml
  deploy/fluentbit/config-log.yaml
  deploy/fluentbit/config.yaml
  deploy/fluentbit/fluentbit-pod.yaml
  deploy/fluentbit/log.yaml
  deploy/fluentbit/loga-config.yaml
  deploy/fluentbit/namespace.yaml
  deploy/fluentbit/role.yaml
  deploy/grafana/datasource.yaml
  deploy/grafana/deployment.yaml
  deploy/grafana/service.yaml
  deploy/loderunner-api/local/loderunner-api-local.yaml
  deploy/loderunner-api/loderunner-api.yaml
  deploy/loderunner-local/loderunner.yaml
  deploy/loderunner-ui/local/loderunner-ui-local.yaml
  deploy/loderunner-ui/loderunner-ui.yaml
  deploy/loderunner/local/1-namespace.yaml
  deploy/loderunner/local/2-loderunner.yaml
  deploy/loderunner/local/3-loderunner-api.yaml
  deploy/loderunner/local/4-loderunner-ui.yaml
  deploy/loderunner/local/README.md
  deploy/loderunner/local/saveenv.sh
  deploy/loderunner/loderunner.yaml
  deploy/monitoring/01-namespace.yaml
  deploy/monitoring/02-prometheus.yaml
  deploy/monitoring/03-grafana.yaml
  deploy/ngsa-local/README.md
  deploy/ngsa-local/ngsa-memory.yaml
  deploy/ngsa-memory/README.md
  deploy/ngsa-memory/ngsa-memory.yaml
  deploy/ngsa/namespace.yaml
  deploy/ngsa/ngsa-memory.yaml
  deploy/prometheus/1-clusterRole.yaml
  deploy/prometheus/3-prometheus-deployment.yaml
  deploy/prometheus/4-prometheus-service.yaml
  src/LodeRunner.API/src/Core/Startup.cs
  src/LodeRunner.UI/README.md
Labels: Documentation, LoadGen, LodeRunner, LRUI

#76 Design and implement LodeRunner.UI client list, client details, and pending feature
  Makefile
  src/LodeRunner.UI/public/favicon.ico
  src/LodeRunner.UI/public/index.html
  src/LodeRunner.UI/public/logo192.png
  src/LodeRunner.UI/public/logo512.png
  src/LodeRunner.UI/public/manifest.json
  src/LodeRunner.UI/src/components/App/index.js
  src/LodeRunner.UI/src/components/App/styles.css
  src/LodeRunner.UI/src/components/CheckMark/index.js
  src/LodeRunner.UI/src/components/ClientDetails/index.js
  src/LodeRunner.UI/src/components/ClientDetails/styles.css
  src/LodeRunner.UI/src/components/Clients/index.js
  src/LodeRunner.UI/src/components/Clients/styles.css
  src/LodeRunner.UI/src/components/ClientsFilter/ClientsFilter.test.js
  src/LodeRunner.UI/src/components/ClientsFilter/constants.js
  src/LodeRunner.UI/src/components/ClientsFilter/index.js
  src/LodeRunner.UI/src/components/ClientsFilter/styles.css
  src/LodeRunner.UI/src/components/Pencil/index.js
  src/LodeRunner.UI/src/components/PendingFeature/index.js
  src/LodeRunner.UI/src/components/PendingFeature/styles.css
  src/LodeRunner.UI/src/contexts/index.js
  src/LodeRunner.UI/src/contexts/pendingFeature.js
  src/LodeRunner.UI/src/images/the-magic-word.gif
  src/LodeRunner.UI/src/index.css
  src/LodeRunner.UI/src/models/index.js
  src/LodeRunner.UI/src/utilities/datetime.js
  src/LodeRunner.UI/src/utilities/datetime.test.js
Labels: Enhancement, LoadGen, LRUI

#77 Enable swagger to auto-generate API documentation and create configs via API
  src/LodeRunner.API/LodeRunner.API.csproj
  src/LodeRunner.API/LodeRunnerApi.xml
  src/LodeRunner.API/README.md
  src/LodeRunner.API/src/AutoMapperProfiles/LoadTestConfigProfile.cs
  src/LodeRunner.API/src/Controllers/ClientsController.cs
  src/LodeRunner.API/src/Controllers/HealthzController.cs
  src/LodeRunner.API/src/Controllers/LoadTestConfigController.cs
  src/LodeRunner.API/src/Core/PathPrefixInsertDocumentFilter.cs
  src/LodeRunner.API/src/Core/Startup.cs
  src/LodeRunner.API/src/Core/SystemConstants.cs
  src/LodeRunner.API/src/Data/Cache/LRAPICache.cs
  src/LodeRunner.API/src/Data/Model/Client.cs
  src/LodeRunner.API/src/Extensions/ModelExtensions.cs
  src/LodeRunner.API/src/Handlers/RequestLogger/RequestLogger.cs
  src/LodeRunner.API/src/Handlers/ResultHandler.cs
  src/LodeRunner.API/src/Handlers/VersionExtension.cs
  src/LodeRunner.API/src/HealthChecks/CosmosHealthCheck.cs
  src/LodeRunner.API/src/HealthChecks/CosmosHealthCheckDetails.cs
  src/LodeRunner.API/src/HealthChecks/HealthzCheck.cs
  src/LodeRunner.API/src/HealthChecks/IetfResponseWriter.cs
  src/LodeRunner.API/src/Interfaces/ILRAPICache.cs
  src/LodeRunner.API/src/Program.cs
  src/LodeRunner.API/src/Utilities/Parameters/ValidationError.cs
  src/LodeRunner.Core/Cache/BaseAppCache.cs
  src/LodeRunner.Core/CommandLine/LRCommandLine.cs
  src/LodeRunner.Core/CommandLine/Parsers.cs
  src/LodeRunner.Core/Interfaces/ILRConfig.cs
  src/LodeRunner.Core/LodeRunner.Core.csproj
  src/LodeRunner.Core/LodeRunner.Core.xml
  src/LodeRunner.Core/Models/BaseEntityModel.cs
  src/LodeRunner.Core/Models/IetfHealthCheck.cs
  src/LodeRunner.Core/Models/LoadTestConfig.cs
  src/LodeRunner.Core/Models/LoadTestConfigPayload.cs
  src/LodeRunner.Core/Models/Validators/LoadTestConfigValidator.cs
  src/LodeRunner.Core/Models/Validators/ValidateListAttribute.cs
  src/LodeRunner.Core/SchemaFilters/IetfHealthCheckSchemaFilter.cs
  src/LodeRunner.Core/SchemaFilters/LoadTestConfigPayloadSchemaFilter.cs
  src/LodeRunner.Core/SchemaFilters/LoadTestConfigSchemaFilter.cs
  src/LodeRunner.Core/SystemConstants.cs
  src/LodeRunner.Data/Interfaces/ILoadTestConfigService.cs
  src/LodeRunner.Data/Services/LoadTestConfigService.cs
  src/LodeRunner.Test/UnitTests/CommandLineArgs.cs
  src/LodeRunner/src/Program.cs
  src/LodeRunner/src/Services/LodeRunnerService.cs
  src/LodeRunner/src/ValidationTest/Main.cs
  src/LodeRunner/src/core/SystemConstants.cs
Labels: DevX, size: L, LoadGen, LodeRunner

#79 Make LodeRunner.API Calls Async
  src/LodeRunner.API/LodeRunnerApi.xml
  src/LodeRunner.API/src/Controllers/ClientsController.cs
  src/LodeRunner.API/src/Controllers/LoadTestConfigController.cs
  src/LodeRunner.API/src/Core/NgsaLog.cs
  src/LodeRunner.API/src/Data/Cache/LRAPICache.cs
  src/LodeRunner.API/src/Handlers/ExceptionMiddleware/GlobalException.cs
  src/LodeRunner.API/src/Handlers/ResultHandler.cs
  src/LodeRunner.API/src/Interfaces/ILRAPICache.cs
  src/LodeRunner.API/src/Program.cs
  src/LodeRunner.Core/Cache/BaseAppCache.cs
  src/LodeRunner.Core/Interfaces/IAppCache.cs
Labels: Bug, size: S, LoadGen, LodeRunner

#80 Fix StyleCop issue for LodeRunner.API and LodeRunner
  src/LodeRunner.API/src/AutoMapperProfiles/LoadTestConfigProfile.cs
  src/LodeRunner.API/src/Controllers/LoadTestConfigController.cs
  src/LodeRunner.API/src/Core/NgsaLog.cs
  src/LodeRunner.API/src/Core/Startup.cs
  src/LodeRunner.API/src/Data/Cache/LRAPICache.cs
  src/LodeRunner.API/src/Data/Model/Client.cs
  src/LodeRunner.API/src/Extensions/ModelExtensions.cs
  src/LodeRunner.API/src/Handlers/ResultHandler.cs
  src/LodeRunner.API/src/HealthChecks/CosmosHealthCheckDetails.cs
  src/LodeRunner.API/src/HealthChecks/HealthzCheck.cs
  src/LodeRunner.API/src/Utilities/Parameters/ValidationError.cs
  src/LodeRunner/LodeRunner.csproj
  src/LodeRunner/src/Program.cs
  src/LodeRunner/src/Services/LodeRunnerService.cs
  src/LodeRunner/src/ValidationTest/Main.cs
  src/LodeRunner/src/ValidationTest/Model/InputJson.cs
  src/LodeRunner/src/ValidationTest/Model/JsonArray.cs
  src/LodeRunner/src/ValidationTest/Model/JsonItem.cs
  src/LodeRunner/src/ValidationTest/Model/JsonPropertyByIndex.cs
  src/LodeRunner/src/ValidationTest/Model/PerfLog.cs
  src/LodeRunner/src/ValidationTest/Model/PerfTarget.cs
  src/LodeRunner/src/ValidationTest/Model/Request.cs
  src/LodeRunner/src/ValidationTest/Model/TimerRequestState.cs
  src/LodeRunner/src/ValidationTest/Model/Validation.cs
  src/LodeRunner/src/ValidationTest/Model/ValidationResult.cs
  src/LodeRunner/src/ValidationTest/ReadValidateJson.cs
  src/LodeRunner/src/ValidationTest/Validators/ParameterValidator.cs
  src/LodeRunner/src/ValidationTest/Validators/ResponseValidator.cs
  src/LodeRunner/src/config.cs
  src/LodeRunner/src/core/CorrelationVectorExtensions.cs
  src/LodeRunner/src/core/Startup.cs
  src/LodeRunner/src/core/VersionExtension.cs
  src/LodeRunner/src/events/ClientStatusEventArgs.cs
  src/LodeRunner/src/events/ProcessingEventBus.cs
  src/LodeRunner/src/stylecop.json
Labels: Bug, size: S, LoadGen, LodeRunner

#81 Jofultz 482 lastStatusUpdate bug
  README.md
  docs/DataDictionary.md
  src/LodeRunner.Core/LodeRunner.Core.xml
  src/LodeRunner.Core/Models/ClientStatus.cs
  src/LodeRunner.Core/Models/ClientStatusType.cs
  src/LodeRunner.Data/Services/ClientStatusService.cs
  src/LodeRunner/Properties/launchSettings.json
  src/LodeRunner/README.md
  src/LodeRunner/src/Services/LodeRunnerService.cs
Labels: Bug, size: S, LodeRunner

#78 List existing configs in LodeRunner.UI with mocked data
  src/LodeRunner.UI/src/components/App/index.js
  src/LodeRunner.UI/src/components/App/styles.css
  src/LodeRunner.UI/src/components/ClientDetails/index.js
  src/LodeRunner.UI/src/components/Clients/index.js
  src/LodeRunner.UI/src/components/Configs/index.js
  src/LodeRunner.UI/src/components/Configs/styles.css
  src/LodeRunner.UI/src/components/ContentPage/index.js
  src/LodeRunner.UI/src/components/Modal/index.js
  src/LodeRunner.UI/src/components/Modal/styles.css
  src/LodeRunner.UI/src/components/PendingFeature/index.js
  src/LodeRunner.UI/src/components/PendingFeature/styles.css
  src/LodeRunner.UI/src/components/Trash/index.js
  src/LodeRunner.UI/src/contexts/clients.js
  src/LodeRunner.UI/src/contexts/configs.js
  src/LodeRunner.UI/src/contexts/display.js
  src/LodeRunner.UI/src/contexts/index.js
  src/LodeRunner.UI/src/models/index.js
  src/LodeRunner.UI/src/services/api-service.js
Labels: Enhancement, LoadGen, LRUI

#84 Move LR.API and LR Integration Tests to C#
  src/LodeRunner.API.Test/IntegrationTests/ApiWebApplicationFactory.cs
  src/LodeRunner.API.Test/IntegrationTests/ComponentsFactory.cs
  src/LodeRunner.API.Test/IntegrationTests/Controllers/Clients.cs
  src/LodeRunner.API.Test/IntegrationTests/HttpClientExtension.cs
  src/LodeRunner.API.Test/LodeRunner.API.Test.csproj
  src/LodeRunner.API.Test/UnitTests/ValidateError.cs
  src/LodeRunner.API.Test/secrets/CosmosCollection
  src/LodeRunner.API.Test/secrets/CosmosDatabase
  src/LodeRunner.API.Test/secrets/CosmosTestDatabase
  src/LodeRunner.API.Test/secrets/CosmosUrl
  src/LodeRunner.API.Test/stylecop.json
  src/LodeRunner.API/Dockerfile
  src/LodeRunner.API/LodeRunner.API.csproj
  src/LodeRunner.API/LodeRunnerApi.xml
  src/LodeRunner.API/src/Core/Config.cs
  src/LodeRunner.API/src/Core/Startup.cs
  src/LodeRunner.API/src/Data/Cache/LRAPICache.cs
  src/LodeRunner.API/src/Data/Model/Client.cs
  src/LodeRunner.API/src/Extensions/ModelExtensions.cs
  src/LodeRunner.API/src/Handlers/RequestLogger/RequestLogger.cs
  src/LodeRunner.API/src/Interfaces/ILRAPIChangeFeedService.cs
  src/LodeRunner.API/src/Interfaces/ISystemComponentsService.cs
  src/LodeRunner.API/src/Program.cs
  src/LodeRunner.API/src/Services/SystemComponentsService.cs
  src/LodeRunner.Core/AppConfigurationHelper.cs
  src/LodeRunner.Core/Cache/BaseAppCache.cs
  src/LodeRunner.Core/CommandLine/LRAPICommandLine.cs
  src/LodeRunner.Core/Interfaces/IAppCache.cs
  src/LodeRunner.Core/Interfaces/ICosmosConfig.cs
  src/LodeRunner.Core/LodeRunner.Core.csproj
  src/LodeRunner.Core/LodeRunner.Core.xml
  src/LodeRunner.Data/Secrets.cs
  src/LodeRunner.Test.sln
  src/LodeRunner/Dockerfile
  src/LodeRunner/LodeRunner.csproj
  src/LodeRunner/src/Services/LodeRunnerService.cs
Labels: size: L, LoadGen, LodeRunner

#83 Update DataDictionary.md
  docs/DataDictionary.md
Labels: Documentation, LoadGen

#82 LodeRunner.UI: Create new load test config
  src/LodeRunner.UI/babel.config.js
  src/LodeRunner.UI/src/components/App/index.js
  src/LodeRunner.UI/src/components/ClientDetails/index.js
  src/LodeRunner.UI/src/components/Clients/index.js
  src/LodeRunner.UI/src/components/ConfigForm/ArrayOfStringInput/index.js
  src/LodeRunner.UI/src/components/ConfigForm/ArrayOfStringInput/styles.css
  src/LodeRunner.UI/src/components/ConfigForm/BooleanInput/index.js
  src/LodeRunner.UI/src/components/ConfigForm/IntegerInput/index.js
  src/LodeRunner.UI/src/components/ConfigForm/StringInput/index.js
  src/LodeRunner.UI/src/components/ConfigForm/index.js
  src/LodeRunner.UI/src/components/ConfigForm/styles.css
  src/LodeRunner.UI/src/components/Configs/index.js
  src/LodeRunner.UI/src/components/ContentPage/index.js
  src/LodeRunner.UI/src/components/Modal/index.js
  src/LodeRunner.UI/src/components/Modal/styles.css
  src/LodeRunner.UI/src/components/PendingFeature/styles.css
  src/LodeRunner.UI/src/contexts/index.js
  src/LodeRunner.UI/src/images/spinner.svg
  src/LodeRunner.UI/src/services/api-service.js
  src/LodeRunner.UI/src/services/clients.js
  src/LodeRunner.UI/src/services/configs.js
  src/LodeRunner.UI/src/services/configs.test.js
  src/LodeRunner.UI/src/services/utilities.js
  src/LodeRunner.UI/src/utilities/constants.js
Labels: Enhancement, LoadGen, LRUI
