Repository retaildevcrews/loderunner, pull requests merged in 2022-08, with the labels that each got.

#291 Update "loderunner-only.yaml" workflow to execute LodeRunner.API Integration Testing step
  .github/workflows/loderunner-only.yaml
  src/LodeRunner.API.Test/IntegrationTests/ExecutingTestRun/TestRunExecution.cs
Labels: Bug, CI/CD, LodeRunner

#293 Added --quiet and --compact arguments to Checkov Scan task
  .vscode/tasks.json
Labels: Bug, CI/CD, LodeRunner

#295 Added subscriptionid and updated lrMiClientId, also replace tenantId with subscriptionid
  autogitops/autogitops.json
  autogitops/dev/loderunner-pod-identity.yaml
Labels: Bug, LodeRunner, CI-CD

#286 Log burst metric headers
  Makefile
  README.md
  deploy/burst/burst-dev.yaml
  deploy/burst/ngsa-filter-sidecar.yaml
  deploy/k3d.yaml
  deploy/ngsa/namespace.yaml
  deploy/ngsa/ngsa-memory.yaml
  src/LodeRunner.Core/SystemConstants.cs
  src/LodeRunner/src/ValidationTest/Main.cs
  src/LodeRunner/src/ValidationTest/Model/PerfLog.cs
Labels: DesignReview, LoadGen, LodeRunner

#296 dev: Update app deployments for improved resiliency
  autogitops/dev/loderunner-api.yaml
  autogitops/dev/loderunner-ui.yaml
Labels: DevOps

#292 Fix incorrect error message when missing secrets.
  src/LodeRunner.API.Test/IntegrationTests/ApiPortPoolManager.cs
  src/LodeRunner.API.Test/IntegrationTests/ApiWebApplicationFactory.cs
  src/LodeRunner.API.Test/IntegrationTests/ComponentsFactory.cs
  src/LodeRunner.API.Test/IntegrationTests/Configuration/TestSecrets.cs
  src/LodeRunner.API.Test/IntegrationTests/ExecutingTestRun/TestRunExecution.cs
  src/LodeRunner.API.Test/IntegrationTests/Extensions/LogOutputExtension.cs
  src/LodeRunner.API.Test/IntegrationTests/Extensions/SecretVolumeExtension.cs
  src/LodeRunner.API.Test/UnitTests/IntervalCheckerTest.cs
  src/LodeRunner.API.Test/secrets/CosmosCollection
  src/LodeRunner.API.Test/secrets/CosmosDatabase
  src/LodeRunner.API.Test/secrets/CosmosTestDatabase
  src/LodeRunner.API.Test/secrets/CosmosUrl
  src/LodeRunner.API/src/Program.cs
  src/LodeRunner.Core/Extensions/LoggingBuilderExtensions.cs
  src/LodeRunner.Core/SystemConstants.cs
  src/LodeRunner.Data/Secrets.cs
Labels: Bug, LodeRunner

#298 Autogitops updates to add loderunner apps to preprod
  autogitops/autogitops.json
  autogitops/preprod/loderunner-api.yaml
  autogitops/preprod/loderunner-clientmode.yaml
  autogitops/preprod/loderunner-commandmode.yaml
  autogitops/preprod/loderunner-pod-identity.yaml
  autogitops/preprod/loderunner-ui.yaml
Labels: CI/CD, CI-CD
