Repository retaildevcrews/loderunner, pull requests merged in 2022-02, with the labels that each got.

#134 Implement LodeRunner Service Polling Mechanism
  src/LodeRunner.API.Test/IntegrationTests/Controllers/Clients.cs
  src/LodeRunner.API.Test/IntegrationTests/Extensions/HttpClientExtension.cs
  src/LodeRunner.Data/Interfaces/ITestRunService.cs
  src/LodeRunner.Data/Services/TestRunService.cs
  src/LodeRunner/README.md
  src/LodeRunner/src/Services/LodeRunnerService.cs
  src/LodeRunner/src/config.cs
Labels: LoadGen, LodeRunner

#136 Jofultz 577 interfaces
  README.md
  src/LodeRunner.API.Test/IntegrationTests/Controllers/Clients.cs
  src/LodeRunner.API.Test/IntegrationTests/Controllers/TestRuns.cs
  src/LodeRunner.API/src/Controllers/LoadTestConfigsController.cs
  src/LodeRunner.API/src/Core/Config.cs
  src/LodeRunner.Data/CosmosDBRepository.cs
  src/LodeRunner.Data/Interfaces/IBaseService.cs
  src/LodeRunner.Data/Interfaces/IClientStatusService.cs
  src/LodeRunner.Data/Interfaces/ICosmosDBRepository.cs
  src/LodeRunner.Data/Interfaces/ILoadTestConfigService.cs
  src/LodeRunner.Data/Interfaces/ITestRunService.cs
  src/LodeRunner.Data/README.md
  src/LodeRunner.Data/Services/BaseService.cs
  src/LodeRunner.Data/Services/ClientStatusService.cs
  src/LodeRunner.Data/Services/LoadTestConfigService.cs
  src/LodeRunner.Data/Services/TestRunService.cs
  src/LodeRunner/src/Services/LodeRunnerService.cs
Labels: LoadGen, LodeRunner

#137 Result handler for GET all responses
  src/LodeRunner.API/src/Controllers/ClientsController.cs
  src/LodeRunner.API/src/Controllers/LoadTestConfigsController.cs
  src/LodeRunner.API/src/Controllers/TestRunsController.cs
  src/LodeRunner.API/src/Core/SystemConstants.cs
  src/LodeRunner.API/src/Extensions/ClientStatusServiceExtensions.cs
  src/LodeRunner.API/src/Extensions/LoadTestConfigServiceExtensions.cs
  src/LodeRunner.API/src/Extensions/TestRunsServiceExtensions.cs
  src/LodeRunner.API/src/Handlers/ResultHandler.cs
Labels: REFACTOR, TechnicalDebt, LoadGen, LodeRunner

#139 Add CreateGetByIdResponse to LodeRunner.API ResultHandler and use in controllers
  src/LodeRunner.API.Test/IntegrationTests/Controllers/LoadTestConfigs.cs
  src/LodeRunner.API.Test/IntegrationTests/Controllers/TestRuns.cs
  src/LodeRunner.API.Test/UnitTests/ValidateError.cs
  src/LodeRunner.API/src/Controllers/ClientsController.cs
  src/LodeRunner.API/src/Controllers/LoadTestConfigsController.cs
  src/LodeRunner.API/src/Controllers/TestRunsController.cs
  src/LodeRunner.API/src/Core/SystemConstants.cs
  src/LodeRunner.API/src/Extensions/ClientStatusServiceExtensions.cs
  src/LodeRunner.API/src/Handlers/ResultHandler.cs
  src/LodeRunner.API/src/Utilities/Parameters/ValidationError.cs
  src/LodeRunner.Data/Services/BaseService.cs
  src/LodeRunner.Data/Services/ClientStatusService.cs
Labels: REFACTOR, TechnicalDebt, LoadGen, LodeRunner

#140 Review and set Logging Consistency In LR and LR.API
  src/LodeRunner.API.Test/IntegrationTests/ApiWebApplicationFactory.cs
  src/LodeRunner.API.Test/IntegrationTests/ComponentsFactory.cs
  src/LodeRunner.API.Test/IntegrationTests/Extensions/HttpClientExtension.cs
  src/LodeRunner.API/src/Controllers/ClientsController.cs
  src/LodeRunner.API/src/Controllers/LoadTestConfigsController.cs
  src/LodeRunner.API/src/Controllers/TestRunsController.cs
  src/LodeRunner.API/src/Core/LogEventId.cs
  src/LodeRunner.API/src/Core/NgsaLog.cs
  src/LodeRunner.API/src/Core/SystemConstants.cs
  src/LodeRunner.API/src/Extensions/ClientStatusServiceExtensions.cs
  src/LodeRunner.API/src/Extensions/LoadTestConfigServiceExtensions.cs
  src/LodeRunner.API/src/Extensions/TestRunsServiceExtensions.cs
  src/LodeRunner.API/src/Handlers/ExceptionMiddleware/GlobalException.cs
  src/LodeRunner.API/src/Handlers/ExceptionMiddleware/GlobalExceptionExtensions.cs
  src/LodeRunner.API/src/Handlers/RequestLogger/RequestLogger.cs
  src/LodeRunner.API/src/Handlers/ResultHandler.cs
  src/LodeRunner.API/src/Program.cs
  src/LodeRunner.API/src/Utilities/Parameters/ValidationError.cs
  src/LodeRunner.Core/Extensions/CorrelationVectorExtensions.cs
  src/LodeRunner.Core/Extensions/LoggingBuilderExtensions.cs
  src/LodeRunner.Core/LodeRunner.Core.csproj
  src/LodeRunner.Core/NgsaLogger/EventTypes.cs
  src/LodeRunner.Core/NgsaLogger/NgsaLogger.cs
  src/LodeRunner.Core/NgsaLogger/NgsaLoggerConfiguration.cs
  src/LodeRunner.Core/NgsaLogger/NgsaLoggerExtensions.cs
  src/LodeRunner.Core/NgsaLogger/NgsaLoggerProvider.cs
  src/LodeRunner.Core/SchemaFilters/TestRunSchemaFilter.cs
  src/LodeRunner/src/Program.cs
  src/LodeRunner/src/Services/LodeRunnerService.cs
  src/LodeRunner/src/ValidationTest/Main.cs
  src/LodeRunner/src/ValidationTest/Model/TimerRequestState.cs
  src/LodeRunner/src/ValidationTest/ReadValidateJson.cs
  src/LodeRunner/src/config.cs
  src/LodeRunner/src/core/Startup.cs
Labels: TechnicalDebt, size: M, LoadGen, LodeRunner

#142 Handle status update exception
  src/LodeRunner.Core/Events/ClientStatusEventArgs.cs
  src/LodeRunner/src/Services/LodeRunnerService.cs
  src/LodeRunner/src/Subscribers/ClientStatusUpdater.cs
Labels: size: S, LoadGen, LodeRunner

#145 Update data dictionary and README
  docs/DataDictionary.md
  src/LodeRunner/README.md
Labels: Documentation

#152 Updated react-scripts version
  src/LodeRunner.UI/package-lock.json
  src/LodeRunner.UI/package.json
  src/LodeRunner.UI/src/services/utilities.js
Labels: LoadGen, LodeRunner, LRUI

#150 LR.UI Create Test Run
  src/LodeRunner.UI/src/components/TestSubmission/index.js
  src/LodeRunner.UI/src/services/testRun.js
Labels: LRUI

#155 Update dotnet run to use the standard output and removed unnecessary copy secrets commands
  .github/workflows/loderunner-api.yaml
Labels: size: S, LodeRunner, CI-CD

#153 Create Integration Tests for Executing TestRun
  src/LodeRunner.API.Test/IntegrationTests/ApiWebApplicationFactory.cs
  src/LodeRunner.API.Test/IntegrationTests/ComponentsFactory.cs
  src/LodeRunner.API.Test/IntegrationTests/Controllers/Clients.cs
  src/LodeRunner.API.Test/IntegrationTests/Controllers/TestRuns.cs
  src/LodeRunner.API.Test/IntegrationTests/ExecutingTestRun/ProcessContext.cs
  src/LodeRunner.API.Test/IntegrationTests/ExecutingTestRun/ProcessContextParams.cs
  src/LodeRunner.API.Test/IntegrationTests/ExecutingTestRun/TestRunExecution.cs
  src/LodeRunner.API.Test/IntegrationTests/Extensions/HttpClientExtension.cs
  src/LodeRunner.API.Test/IntegrationTests/Extensions/SecretVolumeExtension.cs
  src/LodeRunner.API.Test/IntegrationTests/Extensions/TestRunPayloadExtension.cs
  src/LodeRunner.API.Test/LodeRunner.API.Test.csproj
  src/LodeRunner.API/LodeRunner.API.csproj
  src/LodeRunner.API/src/Core/Config.cs
  src/LodeRunner.API/src/Program.cs
  src/LodeRunner.Core/CommandLine/LRAPICommandLine.cs
  src/LodeRunner.Core/Interfaces/ICommonConfig.cs
  src/LodeRunner.Core/SystemConstants.cs
  src/LodeRunner.Test/LodeRunner.Test.csproj
  src/LodeRunner/LodeRunner.Api-benchmark.json
  src/LodeRunner/src/Program.cs
  src/LodeRunner/src/Services/LodeRunnerService.cs
  src/LodeRunner/src/Subscribers/ClientStatusUpdater.cs
Labels: Testing:Load, size: M, LodeRunner

#159 Update all models with required attribute
  docs/DataDictionary.md
  src/LodeRunner.API.Test/IntegrationTests/Extensions/LoadTestConfigExtension.cs
  src/LodeRunner.Core/Models/BaseEntityModel.cs
  src/LodeRunner.Core/Models/ClientStatus.cs
  src/LodeRunner.Core/Models/LoadClient.cs
  src/LodeRunner.Core/Models/LoadTestConfig.cs
  src/LodeRunner.Core/Models/LoadTestConfigPayload.cs
  src/LodeRunner.Core/Models/TestRun.cs
  src/LodeRunner.Core/Models/TestRunPayload.cs
  src/LodeRunner/README.md
Labels: Documentation, LoadGen, LodeRunner

#160 Fixed Integration Test "CanDeleteTestRunById"
  src/LodeRunner.API.Test/IntegrationTests/Controllers/TestRuns.cs
Labels: Bug, size: S, LoadGen, LodeRunner

#162 Action to build LR.API at main push
  .github/workflows/loderunner-api.yaml
  .github/workflows/loderunner-main-push.yaml
Labels: CI/CD, LoadGen, CI-CD, DevOps

#163 Add secrets to LR.API workflow for ghcr
  .github/workflows/loderunner-api.yaml
Labels: CI/CD, LoadGen, CI-CD, DevOps

#164 Include version in lr-api tag push
  .github/workflows/loderunner-api.yaml
Labels: CI/CD, LoadGen, CI-CD, DevOps

#157 Added CreatePutResponse Methods to ResultHandler and Refactored code in Controllers
  docs/ParameterValidation.md
  src/LodeRunner.API.Test/IntegrationTests/Controllers/Clients.cs
  src/LodeRunner.API.Test/IntegrationTests/Controllers/TestRuns.cs
  src/LodeRunner.API.Test/IntegrationTests/ExecutingTestRun/TestRunExecution.cs
  src/LodeRunner.API.Test/UnitTests/ValidateError.cs
  src/LodeRunner.API/src/Controllers/ClientsController.cs
  src/LodeRunner.API/src/Controllers/LoadTestConfigsController.cs
  src/LodeRunner.API/src/Controllers/TestRunsController.cs
  src/LodeRunner.API/src/Core/SystemConstants.cs
  src/LodeRunner.API/src/Extensions/ModelExtensions.cs
  src/LodeRunner.API/src/Extensions/TestRunsServiceExtensions.cs
  src/LodeRunner.API/src/Handlers/RequestLogger/RequestLogger.cs
  src/LodeRunner.API/src/Handlers/ResultHandler.cs
  src/LodeRunner.API/src/Utilities/Parameters/ParametersValidator.cs
  src/LodeRunner.API/src/Utilities/Parameters/ValidationError.cs
  src/LodeRunner.Core/Interfaces/IModelValidator.cs
  src/LodeRunner.Core/LodeRunner.Core.csproj
  src/LodeRunner.Core/Models/LoadTestConfigPayload.cs
  src/LodeRunner.Core/Models/Validators/BaseEntityValidator.cs
  src/LodeRunner.Core/Models/Validators/LoadTestConfigValidator.cs
  src/LodeRunner.Core/Models/Validators/TestRunValidator.cs
  src/LodeRunner.Core/SchemaFilters/ApiResponse.cs
  src/LodeRunner.Core/SystemConstants.cs
  src/LodeRunner.Data/Interfaces/IBaseService.cs
  src/LodeRunner.Data/Interfaces/ILoadTestConfigService.cs
  src/LodeRunner.Data/Interfaces/ITestRunService.cs
  src/LodeRunner.Data/Services/BaseService.cs
  src/LodeRunner.Data/Services/LoadTestConfigService.cs
  src/LodeRunner.Data/Services/TestRunService.cs
  src/LodeRunner.Test/UnitTests/TestRunServiceTest.cs
  src/LodeRunner.Test/UnitTests/TestRunValidatorTest.cs
Labels: REFACTOR

#166 Remove requirement for ghcr_{id|pat} variables for lr api workflow
  .github/workflows/loderunner-api.yaml
Labels: CI/CD, LoadGen, CI-CD, DevOps

#167 LodeRunner.API: Fix for `/healthz` endpoint to return 200
  src/LodeRunner.API/src/HealthChecks/CosmosHealthCheck.cs
  src/LodeRunner.API/src/HealthChecks/CosmosHealthCheckDetails.cs
Labels: Bug

#169 Deleted old preprod cluster target
  autogitops/autogitops.json
Labels: size: S, CI-CD
