Repository retaildevcrews/loderunner, pull requests merged in 2022-09, with the labels that each got.

#302 Implement the ability to Stop Test Run if requested
  .github/workflows/loderunner-api.yaml
  .github/workflows/loderunner-integration-test.yaml
  .github/workflows/loderunner-main-pr.yaml
  .github/workflows/loderunner-only.yaml
  src/LodeRunner.API.Test/IntegrationTests/ApiPortPoolManager.cs
  src/LodeRunner.Core/Common.cs
  src/LodeRunner.Core/Models/TestRun.cs
  src/LodeRunner.Core/SystemConstants.cs
  src/LodeRunner.Data/CosmosDBRepository.cs
  src/LodeRunner.Data/Interfaces/IBaseService.cs
  src/LodeRunner.Data/Interfaces/ICosmosDBRepository.cs
  src/LodeRunner.Data/Services/BaseService.cs
  src/LodeRunner/src/Extensions/ClientModeExtensions.cs
  src/LodeRunner/src/Services/LodeRunnerService.cs
  src/LodeRunner/src/ValidationTest/Main.cs
  src/LodeRunner/src/ValidationTest/Validators/ResponseValidator.cs
  src/LodeRunner/src/config.cs
  src/LodeRunner/src/core/TestRunExecutionHelper.cs
  src/LodeRunner/src/core/VersionExtension.cs
Labels: Enhancement, LoadGen, LodeRunner

#303 Added missing payload fields to TestPayload
  src/LodeRunner.Core/Models/TestRunPayload.cs
Labels: Bug, LoadGen, LodeRunner

#299 LR.UI Stop Test Run
  src/LodeRunner.UI/src/components/ResultPage/index.js
  src/LodeRunner.UI/src/components/ResultsOverviewPage/index.js
  src/LodeRunner.UI/src/components/StopIcon/index.js
  src/LodeRunner.UI/src/models/index.js
  src/LodeRunner.UI/src/services/testRuns.js
  src/LodeRunner.UI/src/services/utilities.js
Labels: LoadGen

#304 Updating resource limits for Loderunner AutoGitOps
  autogitops/dev/loderunner-api.yaml
  autogitops/dev/loderunner-clientmode.yaml
  autogitops/dev/loderunner-commandmode.yaml
  autogitops/dev/loderunner-ui.yaml
  autogitops/preprod/loderunner-api.yaml
  autogitops/preprod/loderunner-clientmode.yaml
  autogitops/preprod/loderunner-commandmode.yaml
  autogitops/preprod/loderunner-ui.yaml
Labels: Observability, LodeRunner

#307 Access LodeRunner.UI: Inconsistency between Codespaces in Browser & VSCode
  README.md
Labels: Pri1, LoadGen, LodeRunner

#306 Fix bug: LodeRunner TestRun Service is not filtering out cancelled TestRuns
  src/LodeRunner.Data/Services/TestRunService.cs
Labels: Bug, LoadGen, LodeRunner
